.burger {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    background-color: var(--header-color);
    padding: 15px;
    margin: 0;
    width: 100%;
}

.icon-account {
    width: 50px;
}

.burger-logo img {
    width: 100px;
    border-radius: 15px;
}

.burger-menu {
    position: relative;
}

.burger-open {
    display: flex;
    flex-direction: column;
    padding: 3px;
    gap: 8px;
    cursor: pointer;
    margin-right: 30px;
}

.burger-icon {
    background-color: var(--text1-color);
    padding: 1px 20px;
}

.menu-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: var(--header-color);
    padding: 10rem;
    border-radius: 15px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 1rem;
}

.menu a {
    text-decoration: none;
    color: var(--text1-color);
    font-size: 1.5em;
}

.close-button {
    margin-top: 2rem;
    background-color: var(--bg-color);
    color: var(--text1-color);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-style: 1.5em;
}
