.card-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem;
    column-gap: 5rem;
}

.no,
.remaining,
.yes {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.no {
    background-color: Salmon;
}

.no:hover,
.remaining:hover,
.yes:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.remaining {
    background-color: Wheat;
}

.yes {
    background-color: YellowGreen;
}
