.footer {
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin: 5rem 2rem 2rem 2rem;
    padding: 2rem;
    column-gap: 2rem;
}

.footer li {
    list-style: none;
    text-align: center;
    cursor: pointer;
}

.footer li:hover {
    color: ForestGreen;
}
