.footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin: 0 auto;
    padding: 2rem;
    column-gap: 2rem;

    background-color: var(--header-color);
}

.footer li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    line-height: 1.5;
    color: var(--text1-color);
}
