.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin-top: 10rem;
    text-align: center;
}

.home-main h2 {
    font-size: 3em;
}

.home-main img {
    width: 100%;
}
