body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: Ivory;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem;
}
.card-content {
  display: flex;
  justify-content: center;
}
.card {
  padding: 10rem;
  width: 100%;
  height: 200px;
  background-image: url("assets/images/sticker.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card p {
  text-align: center;
  font-size: 3em;
}

.card-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem;
  column-gap: 5rem;
}

.no,
.remaining,
.yes {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.no {
  background-color: Salmon;
}

.remaining {
  background-color: Wheat;
}

.yes {
  background-color: YellowGreen;
}

.footer {
  border-top: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 5rem 2rem 2rem 2rem;
  padding: 2rem;
  column-gap: 2rem;
}

.footer li {
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.footer li:hover {
  color: ForestGreen;
}
